{% include 'header.html' %}
{% import "bootstrap/wtf.html" as wtf %}
<body>
    <h1>Add to a previous field</h1>
    <form method="POST" action="{{ url_for('commit_add_pne_data', field=field) }}" enctype="multipart/form-data">
        {{ profit_form.hidden_tag() }}
        {{ ckeditor.load() }}
        <div class="formContainerColumn">
            <div class="returnContainer">
                <a href="{{ url_for('profit_expenses') }}">Return</a>
            </div>
            <h1 class="contactH1">Heather Rae Gigs</h1>
            <div class="formContainer">
                {% if profit or donation or expense%}
                    {% if profit %}
                        <h2>Add Misc.</h2>
                    {% elif donation %}
                        <h2>Add Donation</h2>
                    {% elif expense %}
                        <h2>Add Expense</h2>
                    {% endif %}
                    <div class="formRow">
                        <label class="leftItem">Name:</label>
                        {{ profit_form.name(class_='inputField') }}
                    </div>
                    <div class="formRow">
                        <label class="leftItem">Amount $:</label>
                        {{ profit_form.amount(class_='inputField') }}
                    </div>
                    <div class="formRow">
                        <label class="leftItem">Date:</label>
                        {{ profit_form.date(class_='dateCalendar') }}
                    </div>
                {% endif %}
                {% if subscription %}
                    <h2>Add A Subscription</h2>
                    <div class="formRow">
                        <label class="leftItem">Service:</label>
                        {{ sub_form.service(class_='inputField') }}
                    </div>
                    <div class="formRow">
                        <label class="leftItem">Amount $:</label>
                        {{ sub_form.amount(class_='inputField') }}
                    </div>
                    <div class="formRow">
                        <label class="leftItem">Rate of Charge:</label>
                        {{ sub_form.rate(class_='inputField') }}
                    </div>
                    <div class="formRow">
                        <label class="leftItem">Start Date:</label>
                        {{ sub_form.start_date(class_='dateCalendar') }}
                    </div>
                {% endif %}
                {% if mileage %}
                    <h2>Add Mileage</h2>
                    <div class="formRow">
                        <label class="leftItem">Name:</label>
                        {{ mileage_form.name(class_='inputField') }}
                    </div>
                    <div class="formRow">
                        <label class="leftItem">Street:</label>
                        {{ mileage_form.street(class_='inputField') }}
                    </div>
                    <div class="formRow">
                        <label class="leftItem">Town:</label>
                        {{ mileage_form.town(class_='inputField') }}
                    </div>
                    <div class="formRow">
                        <label class="leftItem">State:</label>
                        {{ mileage_form.state(class_='dropdownOption') }}
                    </div>
                    <div class="formRow">
                        <label class="leftItem">Zip-Code:</label>
                        {{ mileage_form.zip_code(class_='inputField') }}
                    </div>
                    <div class="formRow">
                        <label class="leftItem">Date:</label>
                        {{ mileage_form.date(class_='dateCalendar') }}
                    </div>
                {% endif %}      
            </div>
            {% if profit or donation or expense%}
                {{ profit_form.submit(class_='submitButton') }}
            {% elif subscription %}
                {{ sub_form.submit(class_='submitButton') }}
            {% elif mileage %}
                {{ mileage_form.submit(class_='submitButton') }}
            {% endif %}
        </div> 
    </form>
</body>