{% include 'header.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<body>
    <h1 class="gigs editGigs">Edit Your Contact</h1>
    <form method="POST" action="{{ url_for('commit_edit', id=facility.id, field=field) }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ ckeditor.load() }}  
        <div class="formContainerColumn">
            <div class="returnContainer">
                <a href="{{ url_for('facility_page', id=facility.id) }}">Return</a>
            </div>
            <h1 class="contactH1">Heather Rae Gigs</h1>
            <div class="formContainer">
                {% if venue %}
                    <div class="formRow">
                        <label class="leftItem">{{ venue }}:</label>
                        <input type="text" class="inputField" name="facility_">
                    </div>
                {% endif %}
                {% if contacts %}
                    {% for contact in contacts %}
                        <div class="formRow contactDelete">
                            <label class="leftItem">{{ contact.contact_person }}:</label>
                            <input type="text" class="inputField" name="contact_{{ contact.id }}">
                        </div>
                        <a class="delete" href="{{ url_for('delete_data', id=facility.id, field='contact_person', data=contact.id) }}">DELETE</a>
                    {% endfor %}
                {% endif %}
                {% if distance_hour or distance_min %}
                    <div class="formRow">
                        {% if distance_hour %}
                            <label class="leftItem">{{ distance_hour }}hr:</label>
                        {% else %}
                            <label class="leftItem">0hr:</label>
                        {% endif %}
                        <input type="text" class="inputField" name="distance_hour_">
                    </div>
                    <div class="formRow">
                        {% if distance_min %}
                            <label class="leftItem">{{ distance_min }}min:</label>
                        {% else %}
                            <label class="leftItem">0min:</label>
                        {% endif %}
                        <input type="text" class="inputField" name="distance_min_">
                    </div>
                {% endif %}
                {% if location_img %}
                    <div class="formRow">
                        <label class="leftItem">Choose a new image:</label>
                        <input type="file" class="inputField" name="location_img_new">
                    </div>
                {% endif %}
                {% if address %}
                    {% for item in address %}
                        <div class="formRow">
                            <label class="leftItem">{{ item }}:</label>
                            <input type="text" class="inputField" id="{{ item }}" name="{{ item }}">
                        </div>
                    {% endfor %}
                {% endif %}
                {% if phone_numbers %}
                    {% for phone_number in phone_numbers %}
                        <div class="formRow">
                            <label class="leftItem">{{ phone_number.phone_number }}:</label>
                            <input type="text" class="inputField" name="phone_number_{{ phone_number.id }}">
                        </div>
                        <a class="delete" href="{{ url_for('delete_data', id=facility.id, field='phone_number', data=phone_number.id) }}">DELETE</a>
                    {% endfor %}
                {% endif %}
                {% if emails %}
                    {% for email in emails %}
                        <div class="formRow">
                            <label class="leftItem">{{ email.email }}:</label>
                            <input type="text" class="inputField" name="email_{{ email.id }}">
                        </div>
                        <a class="delete" href="{{ url_for('delete_data', id=facility.id, field='email', data=email.id) }}">DELETE</a>
                    {% endfor %}
                    <div class="formRow">
                        {% if mass_email %}
                            <label class="leftItem">Mass Email List ✔️: </label>
                            <div class="booleanContainer">
                                <input type="checkbox" name="mass_email" id="mass_email" class="booleanField" checked>
                            </div>
                        {% else %}
                            <label class="leftItem">Mass Email List ⅹ: </label>
                            <div class="booleanContainer">
                                <input type="checkbox" name="mass_email" id="mass_email" class="booleanField">
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if days_times %}
                    {% for day_time in days_times %}
                        {% if day_time[1] and day_time[2] %}
                            <div class="formRow">
                                <label class="leftItem">{{ day_time[1] }}: {{ day_time[2] }}</label>
                                <select name="day_{{ day_time[0] }}" class="dropdownOption venueOption">
                                    <option value="None">None</option>
                                    {% for choice in weekdays %}
                                        <option value="{{ choice }}">{{ choice }}</option>
                                    {% endfor %}
                                </select>
                                <input type="time" class="timeField timeItem" name="time_{{ day_time[0] }}">
                            </div>
                            <a class="delete" href="{{ url_for('delete_data', id=facility.id, field='preferred_day_time', data=day_time[0]) }}">DELETE</a>
                        {% elif day_time[1] %}
                            <div class="formRow">
                                <label class="leftItem">{{ day_time[1] }}</label>
                                <select name="day_{{ day_time[0] }}" class="dropdownOption venueOption">
                                    <option value="None">None</option>
                                    {% for choice in weekdays %}
                                        <option value="{{ choice }}">{{ choice }}</option>
                                    {% endfor %}
                                </select>
                                <input type="time" class="timeField timeItem" name="time_{{ day_time[1] }}">
                            </div>
                            <a class="delete" href="{{ url_for('delete_data', id=facility.id, field='preferred_day_time', data=day_time[0]) }}">DELETE</a>
                        {% else %}
                            <div class="formRow">
                                <label class="leftItem">{{ day_time[2] }}</label>
                                <select name="day_{{ day_time[0] }}" class="dropdownOption venueOption">
                                    <option value="">None</option>
                                    {% for choice in weekdays %}
                                        <option value="{{ choice }}">{{ choice }}</option>
                                    {% endfor %}
                                </select>
                                <input type="time" class="timeField timeItem" name="time_{{ day_time[0] }}">
                            </div>
                            <a class="delete" href="{{ url_for('delete_data', id=facility.id, field='preferred_day_time', data=day_time[0]) }}">DELETE</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if image %}
                    <div class="formRow">
                        <label class="leftItem">Location Img:</label>
                        {{ form.location_img_url(class_='chooseFile') }}
                    </div>  
                {% endif %}
                {% if venue_box %}
                    {% if venue_types %}
                        <label class="venueHeading"><u>Venue Type:</u></label>
                        {% for venue in venue_types %}
                            <div class="formRow">
                                <label class="leftItem">{{ venue.venue }}:</label>
                                <select name="venue_type_{{ venue.id }}" class="dropdownOption venueOption">
                                    <option value="">None</option>
                                    {% for choice in venue_type_list %}
                                        <option value="{{ choice }}" {% if choice == venue %}selected{% endif %}>{{ choice }}</option>
                                    {% endfor %}
                                </select>
                                <a class="delete" href="{{ url_for('delete_data', id=facility.id, field='venue_type', data=venue.id) }}">DELETE</a>
                            </div>    
                        {% endfor %}
                    {% endif %}
                    {% if performance_types %}
                        <label class="venueHeading"><u>Performance Type:</u></label>
                        {% for performance in performance_types %}
                            <div class="formRow">
                                <label class="leftItem">{{ performance.performance }}:</label>
                                <select name="performance_type_{{ performance.id }}" class="dropdownOption venueOption">
                                    <option value="">None</option>
                                    {% for choice in performance_type_list %}
                                        <option value="{{ choice }}" {% if choice == performance %}selected{% endif %}>{{ choice }}</option>
                                    {% endfor %}
                                </select>
                                <a class="delete" href="{{ url_for('delete_data', id=facility.id, field='performance_type', data=performance.id) }}">DELETE</a>
                            </div>    
                        {% endfor %}
                    {% endif %}
                    {% if duration_list %}
                        <label class="venueHeading"><u>Duration:</u></label>
                        {% for duration in duration_list %}
                            <div class="durationContainer">
                                <div>
                                    <div class="formRow paddingTopBottom">
                                        {% if duration[0] %}
                                            <label class="leftItem">{{ duration[0] }}hr:</label>
                                        {% else %}
                                            <label class="leftItem">0hr:</label>
                                        {% endif %}
                                        <input type="text" class="inputField" name="duration_hour_{{ duration[2] }}">
                                    </div>
                                    <div class="formRow paddingTopBottom">
                                        {% if duration[1] %}
                                            <label class="leftItem">{{ duration[1] }}min:</label>
                                        {% else %}
                                            <label class="leftItem">0min:</label>
                                        {% endif %}
                                        <input type="text" class="inputField" name="duration_min_{{ duration[2] }}">
                                    </div>
                                </div>
                                <a class="delete" href="{{ url_for('delete_data', id=facility.id, field='duration_list', data=duration[2]) }}">DELETE</a>
                            </div>
                            {% endfor %}
                    {% endif %}
                {% endif %}
                {% if setlist %}
                    <h2><u>Setlist</u></h2>
                    <div class="setList">
                        <div class="setListRow">
                            {% if "30's" in setlist %}
                                <div class="setListColumn">
                                    <label><u>30's</u></label>
                                    {{ form.set_list_30(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>30's</u></label>
                                    {{ form.set_list_30(class_='booleanField') }}
                                </div>
                            {% endif %}
                            {% if "40's" in setlist %}
                                <div class="setListColumn">
                                    <label><u>40's</u></label>
                                    {{ form.set_list_40(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>40's</u></label>
                                    {{ form.set_list_40(class_='booleanField') }}
                                </div>
                            {% endif %}
                            {% if "50's" in setlist %}
                                <div class="setListColumn">
                                    <label><u>50's</u></label>
                                    {{ form.set_list_50(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>50's</u></label>
                                    {{ form.set_list_50(class_='booleanField') }}
                                </div>
                            {% endif %}
                            {% if "60's" in setlist %}
                                <div class="setListColumn">
                                    <label><u>60's</u></label>
                                    {{ form.set_list_60(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>60's</u></label>
                                    {{ form.set_list_60(class_='booleanField') }}
                                </div>
                            {% endif %}
                            {% if "70's" in setlist %}
                            <div class="setListColumn">
                                <label><u>70's</u></label>
                                {{ form.set_list_70(class_='booleanField', checked=True) }}
                            </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>70's</u></label>
                                    {{ form.set_list_70(class_='booleanField') }}
                                </div>
                            {% endif %}
                            {% if "80's" in setlist %}
                                <div class="setListColumn">
                                    <label><u>80's</u></label>
                                    {{ form.set_list_80(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>80's</u></label>
                                    {{ form.set_list_80(class_='booleanField') }}
                                </div>
                            {% endif %}
                            {% if "90's" in setlist %}
                                <div class="setListColumn">
                                    <label><u>90's</u></label>
                                    {{ form.set_list_90(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>90's</u></label>
                                    {{ form.set_list_90(class_='booleanField') }}
                                </div>
                            {% endif %}
                            {% if "2000's" in setlist %}
                                <div class="setListColumn">
                                    <label><u>2000's</u></label>
                                    {{ form.set_list_2000(class_='booleanField', checked=True) }}
                                </div> 
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>2000's</u></label>
                                    {{ form.set_list_2000(class_='booleanField') }}
                                </div> 
                            {% endif %} 
                        </div>
                        <div class="setListRow">
                            {% if "Present" in setlist %}
                                <div class="setListColumn">
                                    <label><u>Present</u></label>
                                    {{ form.set_list_present(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>Present</u></label>
                                    {{ form.set_list_present(class_='booleanField') }}
                                </div>
                            {% endif %}
                            {% if "Outreach" in setlist %}
                                <div class="setListColumn">
                                    <label><u>Outreach</u></label>
                                    {{ form.set_list_outreach(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>Outreach</u></label>
                                    {{ form.set_list_outreach(class_='booleanField') }}
                                </div>
                            {% endif %}
                            {% if "Christian" in setlist %}
                                <div class="setListColumn">
                                    <label><u>Christian</u></label>
                                    {{ form.set_list_christian(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>Christian</u></label>
                                    {{ form.set_list_christian(class_='booleanField') }}
                                </div>
                            {% endif %}
                            {% if "Secular" in setlist %}
                                <div class="setListColumn">
                                    <label><u>Secular</u></label>
                                    {{ form.set_list_secular(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>Secular</u></label>
                                    {{ form.set_list_secular(class_='booleanField') }}
                                </div>
                            {% endif %}
                            {% if "Originals" in setlist %}
                                <div class="setListColumn">
                                    <label><u>Originals</u></label>
                                    {{ form.set_list_originals(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>Originals</u></label>
                                    {{ form.set_list_originals(class_='booleanField') }}
                                </div>
                            {% endif %}
                            {% if "Worship" in setlist %}
                                <div class="setListColumn">
                                    <label><u>Worship</u></label>
                                    {{ form.set_list_worship(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>Worship</u></label>
                                    {{ form.set_list_worship(class_='booleanField') }}
                                </div>
                            {% endif %}
                            {% if "Hymns" in setlist %}
                                <div class="setListColumn">
                                    <label><u>Hymns</u></label>
                                    {{ form.set_list_hymns(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>Hymns</u></label>
                                    {{ form.set_list_hymns(class_='booleanField') }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% elif setlist_true %}
                    <h2><u>Setlist</u></h2>
                    <div class="setList">
                        <div class="setListRow">           
                            <div class="setListColumn">
                                <label><u>30's</u></label>
                                {{ form.set_list_30(class_='booleanField') }}
                            </div>
                            <div class="setListColumn">
                                <label><u>40's</u></label>
                                {{ form.set_list_40(class_='booleanField') }}
                            </div>                          
                            <div class="setListColumn">
                                <label><u>50's</u></label>
                                {{ form.set_list_50(class_='booleanField') }}
                            </div>                
                            <div class="setListColumn">
                                <label><u>60's</u></label>
                                {{ form.set_list_60(class_='booleanField') }}
                            </div>
                            <div class="setListColumn">
                                <label><u>70's</u></label>
                                {{ form.set_list_70(class_='booleanField') }}
                            </div>       
                            <div class="setListColumn">
                                <label><u>80's</u></label>
                                {{ form.set_list_80(class_='booleanField') }}
                            </div>   
                            <div class="setListColumn">
                                <label><u>90's</u></label>
                                {{ form.set_list_90(class_='booleanField') }}
                            </div>
                            <div class="setListColumn">
                                <label><u>2000's</u></label>
                                {{ form.set_list_2000(class_='booleanField') }}
                            </div> 
                        </div>
                        <div class="setListRow">
                            <div class="setListColumn">
                                <label><u>Present</u></label>
                                {{ form.set_list_present(class_='booleanField') }}
                            </div>                       
                            <div class="setListColumn">
                                <label><u>Outreach</u></label>
                                {{ form.set_list_outreach(class_='booleanField') }}
                            </div>        
                            <div class="setListColumn">
                                <label><u>Christian</u></label>
                                {{ form.set_list_christian(class_='booleanField') }}
                            </div>
                            <div class="setListColumn">
                                <label><u>Secular</u></label>
                                {{ form.set_list_secular(class_='booleanField') }}
                            </div>          
                            <div class="setListColumn">
                                <label><u>Originals</u></label>
                                {{ form.set_list_originals(class_='booleanField') }}
                            </div>  
                            <div class="setListColumn">
                                <label><u>Worship</u></label>
                                {{ form.set_list_worship(class_='booleanField') }}
                            </div>        
                            <div class="setListColumn">
                                <label><u>Hymns</u></label>
                                {{ form.set_list_hymns(class_='booleanField') }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if venue_type_box %}
                    <div class="formRow">
                        <label class="leftItem">Duration (min):</label>
                        {{ form.duration_list(class_='inputField') }}
                    </div>
                {% endif %}
                {% if price_date_list %}
                    {% for price_date in price_date_list %}    
                        <div class="formRow">
                            <label class="leftItem">{{ price_date[1] }}:</label>
                            <input type="date" class="dateCalendar" name="date_{{ price_date[2] }}">
                        </div>
                        <div class="formRow">
                            <label class="leftItem">${{ price_date[0] }}:</label>
                            <input type="text" class="inputField"  name="price_{{ price_date[2] }}">
                        </div>
                        <a class="delete" href="{{ url_for('delete_data', id=facility.id, field='date_price', data=price_date[2]) }}">DELETE</a>
                    {% endfor %}
                {% endif %}
                {% if feedback_list %}
                    <h2><u>Feedback</u></h2>
                    {% for feedback in feedback_list %}
                        <div class="formRow">
                            <label class="leftItem">{{ feedback.date }}:</label>
                            <input type="date" class="dateCalendar" name="date_{{ feedback.id }}">
                        </div>
                        <div class="formRow">
                            <label class="leftItem">{{ feedback.feedback }}:</label>
                            <select name="feedback_{{ feedback.id }}" class="dropdownOption venueOption">
                                <option value="">None</option>
                                {% for choice in feedback_list_items %}
                                    <option value="{{ choice }}" >{{ choice }}</option>
                                {% endfor %}
                            </select>
                        </div>     
                        <a class="delete" href="{{ url_for('delete_data', id=facility.id, field='feedback', data=feedback.id) }}">DELETE</a>    
                    {% endfor %} 
                {% endif %}
                {% if testimonials_list %}
                <h2><u>Testimonials</u></h2>
                    {% for num in range(testimonials_list_len) %}
                        <div class="formRow">
                            <label class="ckEditorCenter dateCenter">{{ testimonial_dates[num] }}</label>
                        </div>
                        <div class="formRow ckEditorBox">
                            <p>{{ testimonial_values[num]|safe }}</p>
                        </div>
                        <div class="formRow">
                            <a class="editBtn" href="{{ url_for('wtform_edit', id=facility.id, field='testimonial', data=num) }}">EDIT</a>
                            <a class="delete" href="{{ url_for('delete_data', id=facility.id, field='testimonial', data=num) }}">DELETE</a>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if comments %}
                    <div class="formRow">
                        <label class="ckEditorCenter"><u>Comments</u></label>
                    </div>
                    {% for comment in comments %}
                        <div class="formRow ckEditorBox">
                            <p>{{ comment.comment|safe }}</p>
                        </div>
                        <div class="formRow">
                            <a class="editBtn" href="{{ url_for('wtform_edit', id=facility.id, field='comments', data=comment.id) }}">EDIT</a>
                            <a class="delete" href="{{ url_for('delete_data', id=facility.id, field='comments', data=comment.id) }}">DELETE</a>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if market_date_list %}
                    <h2><u>Marketing</u></h2>
                    {% for market_date in market_date_list %}
                        <div class="formRow">
                            <label class="dateCenter">{{ market_date[1] }}:</label>
                        </div>
                        <div class="setList">
                            <div class="setListRow">
                                {% if "Physical Flyer" in market_date[0] %}
                                    <div class="setListColumn">
                                        <label><u>Physical Flyer</u></label>
                                        {{ form.marketing_list_physical_flyer(class_='booleanField', checked=True) }}
                                    </div>
                                {% else %}
                                    <div class="setListColumn">
                                        <label><u>Physical Flyer</u></label>
                                        {{ form.marketing_list_physical_flyer(class_='booleanField') }}
                                    </div>
                                {% endif %}
                                {% if "Electronic Flyer" in market_date[0] %}
                                    <div class="setListColumn">
                                        <label><u>Electronic Flyer</u></label>
                                        {{ form.marketing_list_electronic_flyer(class_='booleanField', checked=True) }}
                                    </div>
                                {% else %}
                                    <div class="setListColumn">
                                        <label><u>Electronic Flyer</u></label>
                                        {{ form.marketing_list_electronic_flyer(class_='booleanField') }}
                                    </div>
                                {% endif %}
                                {% if "Physical Business Card" in market_date[0] %}
                                    <div class="setListColumn">
                                        <label><u>Physical Business Card</u></label>
                                        {{ form.marketing_list_physical_business_card(class_='booleanField', checked=True) }}
                                    </div>
                                {% else %}
                                    <div class="setListColumn">
                                        <label><u>Physical Business Card</u></label>
                                        {{ form.marketing_list_physical_business_card(class_='booleanField') }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="setListRow">
                                {% if "EPK" in market_date[0] %}
                                    <div class="setListColumn">
                                        <label><u>EPK</u></label>
                                        {{ form.marketing_list_epk(class_='booleanField', checked=True) }}
                                    </div>
                                {% else %}
                                    <div class="setListColumn">
                                        <label><u>EPK</u></label>
                                        {{ form.marketing_list_epk(class_='booleanField') }}
                                    </div>
                                {% endif %}
                                {% if "Chocolate" in market_date[0] %}
                                    <div class="setListColumn">
                                        <label><u>Chocolate</u></label>
                                        {{ form.marketing_list_chocolate(class_='booleanField', checked=True) }}
                                    </div>
                                {% else %}
                                    <div class="setListColumn">
                                        <label><u>Chocolate</u></label>
                                        {{ form.marketing_list_chocolate(class_='booleanField') }}
                                    </div>
                                {% endif %}
                                {% if "Video Clip" in market_date[0] %}
                                    <div class="setListColumn">
                                        <label><u>Video Clip</u></label>
                                        {{ form.marketing_list_video_clip(class_='booleanField', checked=True) }}
                                    </div>
                                {% else %}
                                    <div class="setListColumn">
                                        <label><u>Video Clip</u></label>
                                        {{ form.marketing_list_video_clip(class_='booleanField') }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="formRow">
                            {% if market_date[2] %}
                                <a class="editBtn" href="{{ url_for('wtform_edit', id=facility.id, field='market_date', data=market_date[2]) }}">EDIT</a>
                                <a class="delete" href="{{ url_for('delete_data', id=facility.id, field='market_date', data=market_date[2]) }}">DELETE</a>
                            {% else %}
                                <a class="editBtn" href="{{ url_for('wtform_edit', id=facility.id, field='market_date', data='NONE') }}">EDIT</a>
                                <a class="delete" href="{{ url_for('delete_data', id=facility.id, field='market_date', data='NONE') }}">DELETE</a>
                            {% endif %}
                        </div>
                    {% endfor %} 
                {% endif %}   
            </div>
            {% if date_market or testimonials_list or comments%}
            {% else %}
                {{ form.submit(class_='submitButton') }} 
            {% endif %}
        </div> 
    </form>
    <script src="../static/javascript/javascript.js"></script>
</body>