<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/invoice.css">
    <title>Invoice</title>
</head>
<body>
    <h1>INVOICE</h1>
    <div class="headerContainer">
        <div>
            <p><b>Heather Rae Brusa</b></p>
            <p>256 Millbury Street</p>
            <p>Auburn, MA 01501</p>
        </div>
        <div>
            <p>Book.HeatherRae@gmail.com</p>
            <p>(508) 335-7253</p>
            <p>WWW.HEATHERRAETHEWOOGIRL.COM</p>
        </div>
        <div class="pictureContainer">
            <img src="../static/img/invoiceHeather.webp" alt="picture of Heather Rae with her hands in the shape of a heart">
        </div>
    </div>
    <div class="coloredContainer">
        <div>
            <h2>Whitney Place Assisted Living And Memory Care</h2>
            <h3>Bill To</h3>
            <p>Whitney Place Assisted Living and Memory Care</p>
            <p>238 West Main Street</p>
            <p>Northborough, Ma</p>
        </div>
        <hr class="lineBreak">
        <div>
            <h3>Invoice Details</h3>
            <p>Invoice no.: 1150</p>
            <p>Terms: Net 30</p>
            <p>Invoice Date: 09/28/2023</p>
            <p>Due Date: 10/28/2023</p>
        </div>
    </div>
    <div class="rowItems">
        <p class="productAmount productService">Product or Service</p>
        <p class="productAmount">Amount</p>
    </div>
    <ol>
        <li>
            <hr class="lineBreak">
            <div class="rowItems">
                <h3>Get Happy with Heather Rae</h3>
                <h4>$150.00</h4>
            </div>
            <p class="descriptionWidth">
                1 hour of singing entertainment 2:30pm - 3:30pm falsd fjlaj 
                sfldjl aksjdfldjflk asj df lkjasdlkfjals kjdflkajsdfkljalskjdflk 
                faljsdfjal alskjdfl adlkf jlaskdjf lj asdflkj salkdfj as lfdj asdlfk
            </p>
            <hr class="lineBreak">
        </li>
    </ol>
    <div class="totalContainer">
        <div class="rowItems">
            <h4>Total</h4>
            <h3>$150.00</h3>
        </div>
        <hr class="lineBreak">
    </div>
    <p>Please make check out to Heather Rae Brusa</p>
</body>
</html>