<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/invoice.css') }}">
    <title>Invoice</title>
</head>
<body>
    <div class="centerNav hoverNav">
        <div class="navBarContainer">
            <div>
                <div>
                    <a href="{{ url_for('home') }}">Address Book</a>
                </div>
            </div>
            <div class="rightNavItems">
                <div>
                    <a href="{{ url_for('invoice_list') }}">Invoices</a>
                </div>
                <div>
                    <a href="{{ url_for('mass_email_page') }}">Mass Email</a>
                </div>
                <div>
                    <a href="{{ url_for('form') }}">+New Contact</a>
                </div>       
                {% if current_user.is_authenticated %}
                    <div>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                {% else %}
                    <div>
                        <a href="{{ url_for('login_page') }}">Login</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <h1>INVOICE</h1>
    <div class="headerContainer">
        <div>
            <p><b>Heather Rae Brusa</b></p>
            <p>256 Millbury Street</p>
            <p>Auburn, MA 01501</p>
        </div>
        <div>
            <p>Book.HeatherRae@gmail.com</p>
            <p>(508) 335-7253</p>
            <p>WWW.HEATHERRAETHEWOOGIRL.COM</p>
        </div>
        <div class="pictureContainer">
            <img src="{{ url_for('static', filename='../static/img/invoiceHeather.webp') }}" alt="picture of Heather Rae with her hands in the shape of a heart">
        </div>
    </div>
    <div class="coloredContainer">
        <div>
            <h2>{{ invoice.facility }}</h2>
            <h3>Bill To</h3>
            <p>{{ invoice.facility }}</p>
            <p>{{ invoice.street }}</p>
            <p>{{ invoice.town }}, {{ invoice.state }}</p>
        </div>
        <hr class="lineBreak">
        <div>
            <h3>Invoice Details</h3>
            <p>Invoice no.: {{ invoice.id }}</p>
            <p>Terms: Net 30</p>
            <p>Invoice Date: {{ invoice.date }}</p>
            <p>Due Date: {{ invoice.due_date }}</p>
        </div>
    </div>
    <div class="rowItems">
        <p class="productAmount productService">Product or Service</p>
        <p class="productAmount">Amount</p>
    </div>
    <ol>
        <li>
            <hr class="lineBreak">
            <div class="rowItems">
                <h3>{{ invoice.title }}</h3>
                <h3>${{ invoice.price }}</h3>
            </div>
            <p class="descriptionWidth">
                {{ invoice.description }}
            </p>
            <hr class="lineBreak">
        </li>
    </ol>
    <div class="totalContainer">
        <div class="rowItems">
            <h3>Total</h3>
            <h4>${{ invoice.price }}</h4>
        </div>
        <hr class="lineBreak">
    </div>
    <p>Please make check out to Heather Rae Brusa</p>
</body>
</html>