{% include "header.html" %}
<body>  
    <div class="libraryItemsContainer tableItemsBtn">
        <div class="formContainerColumn tableContainer">
            <div class="returnContainer">
                <a href="{{ url_for('profit_expenses') }}">Return</a>
            </div>
            {% if invoice_items %}
                <h1>Invoices</h1>
                <h2>This Year Paid Invoices | Total ${{ this_year_paid_total }}</h2>
                <div class="tableBtnContainer">
                    <table class="tableContent">
                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Address</td>
                            <td>Price</td>
                            <td>Date</td>
                            <td>Due-Date</td>
                            <td>Paid-On</td>
                            <td>View</td>
                            <td>DELETE</td>
                        </tr>
                        {% for invoice in this_year_paid_invoices %}
                            <tr data-href="{{ url_for('invoice', invoice_id=invoice.id) }}">
                                <td>{{ invoice.id }}</td>
                                <td>{{ invoice.facility }}</td>
                                <td>
                                    {{ invoice.street }}, {{ invoice.town }}, 
                                    {{ invoice.state }} {{ invoice.zip_code }}
                                </td>
                                <td>${{ invoice.price }}</td>
                                <td>{{ invoice.date }}</td>
                                <td>{{ invoice.due_date }}</td>
                                <td>{{ invoice.paid_on }}</td>
                                <td><a class="editBtn greyBtn" href="{{ url_for('invoice', invoice_id=invoice.id) }}">View</a></td>
                                <td><a class="delete" href="{{ url_for('confirm_page', id=invoice.id, field='invoice') }}">DELETE</a></td>  
                            </tr>
                        {% endfor %}
                    </table>              
                </div>
                {% if paid_invoices_by_year %}
                    {% for year, invoices in paid_invoices_by_year.items() %}
                        <h2>{{ year }} Invoices | Total ${{ invoice_yearly_totals.get(year, 'N/A') }}</h2>
                        <div class="tableBtnContainer">
                            <table class="tableContent">
                                <tr>
                                    <td>ID</td>
                                    <td>Name</td>
                                    <td>Address</td>
                                    <td>Price</td>
                                    <td>Date</td>
                                    <td>Due-Date</td>
                                    <td>Paid-On</td>
                                    <td>View</td>
                                    <td>DELETE</td>
                                </tr>
                                {% for invoice in invoices %}
                                    <tr data-href="{{ url_for('invoice', invoice_id=invoice.id) }}">
                                        <td>{{ invoice.id }}</td>
                                        <td>{{ invoice.facility }}</td>
                                        <td>
                                            {{ invoice.street }}, {{ invoice.town }}, 
                                            {{ invoice.state }} {{ invoice.zip_code }}
                                        </td>
                                        <td>${{ invoice.price }}</td>
                                        <td>{{ invoice.date }}</td>
                                        <td>{{ invoice.due_date }}</td>
                                        <td>{{ invoice.paid_on }}</td>
                                        <td><a class="editBtn greyBtn" href="{{ url_for('invoice', invoice_id=invoice.id) }}">View</a></td>
                                        <td><a class="delete" href="{{ url_for('confirm_page', id=invoice.id, field='invoice') }}">DELETE</a></td>  
                                    </tr>
                                {% endfor %}
                            </table>              
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if current_profits %}
                <h1>Profits</h1>
                <h2>Misc. {{ current_year }}| Total ${{ current_profit_total }}</h2>
                <div class="tableBtnContainer">
                    <table class="tableContent">
                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Amount</td>
                            <td>Date</td>
                            <td>DELETE</td>
                        </tr>
                        {% for profit in current_profits %}
                            <tr>
                                <td>{{ profit.id }}</td>
                                <td>{{ profit.name }}</td>
                                <td>${{ profit.amount }}</td>
                                <td>{{ profit.date }}</td>
                                <td><a class="delete widthBtn" href="{{ url_for('delete_data', id=1, field='profit', data=profit.id) }}">DELETE</a></td>  
                            </tr>
                        {% endfor %}
                    </table>           
                </div>
            {% endif %}
            {% if profits_by_year %}
                {% for year, profits in profits_by_year.items() %}
                    <h2>{{ year }} Misc. | Total ${{ profit_yearly_totals.get(year, 'N/A') }}</h2>
                    <div class="tableBtnContainer">
                        <table class="tableContent">
                            <tr>
                                <td>ID</td>
                                <td>Name</td>
                                <td>Price</td>
                                <td>Amount</td>
                                <td>DELETE</td>
                            </tr>
                            {% for profit in profits %}
                                <tr>
                                    <td>{{ profit.id }}</td>
                                    <td>{{ profit.name }}</td>
                                    <td>${{ profit.amount}}</td>
                                    <td>{{ profit.date }}</td>
                                    <td><a class="delete widthBtn" href="{{ url_for('delete_data', id=1, field='profit', data=profit.id) }}">DELETE</a></td>  
                                </tr>
                                </tr>
                            {% endfor %}
                        </table>              
                    </div>
                {% endfor %}
            {% endif %}  
            {% if current_donations %}
                <h1>Donations</h1>
                <h2>Donations {{ current_year }}| Total ${{ current_donation_total }}</h2>
                <div class="tableBtnContainer">
                    <table class="tableContent">
                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Amount</td>
                            <td>Date</td>
                            <td>DELETE</td>
                        </tr>
                        {% for donation in current_donations %}
                            <tr>
                                <td>{{ donation.id }}</td>
                                <td>{{ donation.name }}</td>
                                <td>${{ donation.amount }}</td>
                                <td>{{ donation.date }}</td>
                                <td><a class="delete widthBtn" href="{{ url_for('delete_data', id=1, field='donation', data=donation.id) }}">DELETE</a></td>  
                            </tr>
                        {% endfor %}
                    </table>           
                </div>
            {% endif %}
            {% if donations_by_year %}
                {% for year, donations in donations_by_year.items() %}
                    <h2>{{ year }} Invoices | Total ${{ donation_yearly_totals.get(year, 'N/A') }}</h2>
                    <div class="tableBtnContainer">
                        <table class="tableContent">
                            <tr>
                                <td>ID</td>
                                <td>Name</td>
                                <td>Price</td>
                                <td>Amount</td>
                                <td>DELETE</td>
                            </tr>
                            {% for donation in donations %}
                                <tr>
                                    <td>{{ donation.id }}</td>
                                    <td>{{ donation.name }}</td>
                                    <td>${{ donation.amount}}</td>
                                    <td>{{ donation.date }}</td>
                                    <td><a class="delete widthBtn" href="{{ url_for('delete_data', id=1, field='donation', data=donation.id) }}">DELETE</a></td>  
                                </tr>
                                </tr>
                            {% endfor %}
                        </table>              
                    </div>
                {% endfor %}
            {% endif %}  
            {% if current_expenses %}
                <h1>Expenses</h1>
                <h2>Expense {{ current_year }}| Total ${{ current_expense_total }}</h2>
                <div class="tableBtnContainer">
                    <table class="tableContent">
                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Amount</td>
                            <td>Date</td>
                            <td>DELETE</td>
                        </tr>
                        {% for expense in current_expenses %}
                            <tr>
                                <td>{{ expense.id }}</td>
                                <td>{{ expense.name }}</td>
                                <td>${{ expense.amount }}</td>
                                <td>{{ expense.date }}</td>
                                <td><a class="delete widthBtn" href="{{ url_for('delete_data', id=1, field='expense', data=expense.id) }}">DELETE</a></td>  
                            </tr>
                        {% endfor %}
                    </table>           
                </div>
            {% endif %}
            {% if current_mileage_items %}
                <h1>Mileage</h1>
                <h2>Miles Drove This Year {{ current_year }} | Total: {{ mileage_total }}</h2>
                <div class="tableBtnContainer">
                    <table class="tableContent">
                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Street</td>
                            <td>Town</td>
                            <td>State</td>
                            <td>Zip-Code</td>
                            <td>Distance-Hour</td>
                            <td>Distance_Min</td>
                            <td>Date</td>
                            <td>Miles</td>
                            <td>DELETE</td>
                        </tr>
                        {% for mileage in current_mileage_items %}
                            <tr>
                                <td>{{ mileage.id }}</td>
                                <td>{{ mileage.name }}</td>
                                <td>${{ mileage.street }}</td>
                                <td>{{ mileage.town }}</td>
                                <td>{{ mileage.state }}</td>
                                <td>{{ mileage.zip_code }}</td>
                                <td>{{ mileage.distance_hour }}</td>
                                <td>{{ mileage.distance_min }}</td>
                                <td>{{ mileage.date }}</td>
                                <td>{{ mileage.miles }}</td>
                                <td><a class="delete widthBtn" href="{{ url_for('delete_data', id=1, field='mileage', data=mileage.id) }}">DELETE</a></td>  
                            </tr>
                        {% endfor %}
                    </table>           
                </div>
            {% endif %}
            {% if mileage_by_year %}
                    {% for year, all_mileage in mileage_by_year.items() %}
                        <h2>Miles Drove {{ year }} | Total Miles: {{ mileage_totals_by_year.get(year, 'N/A') }}</h2>
                        <div class="tableBtnContainer">
                            <table class="tableContent">
                                <tr>
                                    <td>ID</td>
                                    <td>Name</td>
                                    <td>Address</td>
                                    <td>Price</td>
                                    <td>Date</td>
                                    <td>Due-Date</td>
                                    <td>Paid-On</td>
                                    <td>View</td>
                                    <td>DELETE</td>
                                </tr>
                                {% for mileage in all_mileage %}
                                <tr>
                                    <td>{{ mileage.id }}</td>
                                    <td>{{ mileage.name }}</td>
                                    <td>${{ mileage.street }}</td>
                                    <td>{{ mileage.town }}</td>
                                    <td>{{ mileage.state }}</td>
                                    <td>{{ mileage.zip_code }}</td>
                                    <td>{{ mileage.distance_hour }}</td>
                                    <td>{{ mileage.distance_min }}</td>
                                    <td>{{ mileage.date }}</td>
                                    <td>{{ mileage.miles }}</td>
                                <td><a class="delete widthBtn" href="{{ url_for('delete_data', id=1, field='mileage', data=mileage.id) }}">DELETE</a></td>  
                                </tr>
                        {% endfor %}
                            </table>              
                        </div>
                    {% endfor %}
                {% endif %}
            {% if expenses_by_year %}
                {% for year, expenses in expenses_by_year.items() %}
                    <h2>{{ year }} Invoices | Total ${{ expense_yearly_totals.get(year, 'N/A') }}</h2>
                    <div class="tableBtnContainer">
                        <table class="tableContent">
                            <tr>
                                <td>ID</td>
                                <td>Name</td>
                                <td>Amount</td>
                                <td>Date</td>
                                <td>DELETE</td>
                            </tr>
                            {% for expense in expenses %}
                                <tr>
                                    <td>{{ expense.id }}</td>
                                    <td>{{ expense.name }}</td>
                                    <td>${{ expense.amount}}</td>
                                    <td>{{ expense.date }}</td>
                                    <td><a class="delete widthBtn" href="{{ url_for('delete_data', id=1, field='expense', data=expense.id) }}">DELETE</a></td>  
                                </tr>
                                </tr>
                            {% endfor %}
                        </table>              
                    </div>
                {% endfor %}
            {% endif %}
            {% if subscription_items %}
                    <h2>Subscription Monthly Total ${{ sub_total }}</h2>
                    <div class="tableBtnContainer">
                        <table class="tableContent">
                            <tr>
                                <td>ID</td>
                                <td>Service</td>
                                <td>Price</td>
                                <td>Rate</td>
                                <td>Start-Date</td>
                                <td>Next Charge-Date</td>
                                <td>DELETE</td>
                            </tr>
                            {% for sub in subscription_items %}
                                <tr>
                                    <td>{{ sub.id }}</td>
                                    <td>{{ sub.service }}</td>
                                    <td>${{ sub.amount}}</td>
                                    <td>{{ sub.rate }}</td>
                                    <td>{{ sub.start_date }}</td>
                                    <td>{{ sub.charge_date }}</td>
                                    <td><a class="delete widthBtn" href="{{ url_for('delete_data', id=1, field='subscription', data=sub.id) }}">DELETE</a></td>  
                                </tr>
                                </tr>
                            {% endfor %}
                        </table>              
                    </div>
            
            {% endif %}   
        </div>
    </div>
</body>
</html>