{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}


<body>
    <h1 class="gigs editGigs">Edit Your Contact</h1>
    <form method="POST" action="{{ url_for('wtform_commit', id=facility.id, field=field, data=data) }}">
        {{ form.hidden_tag() }}
        {{ ckeditor.load() }}  
        <div class="formContainerColumn">
            <div class="returnContainer">
                <a href="{{ url_for('edit_field', id=facility.id, field=field) }}">Return</a>
            </div>
            <h1 class="contactH1">Heather Rae Gigs</h1>
            <div class="formContainer">
                {% if testimonial_item %}
                    <div class="formRow">
                        <label class="leftItem">{{ testimonial_date }}:</label>
                        <input type="date" class="dateCalendar" name="date_">
                    </div>
                    <div class="testimonialBox">
                        <p>{{ testimonial_value|safe }}</p>
                    </div>
                    {{ form.testimonials_list(class_='ckEditor') }}
                {% endif %}
                {% if comment %}
                    <div class="testimonialBox">
                        <p>{{ comment|safe }}</p>
                    </div>
                    {{ form.comments_list(class_='ckEditor') }}
                {% endif %}
                {% if date_market %}
                    <h2><u>Marketing</u></h2>
                    <div class="formRow">
                        <label class="leftItem">{{ date_market_label }}:</label>
                        <input type="date" class="dateCalendar" name="date_{{ num }}">
                    </div>
                    <div class="setList">
                        <div class="setListRow">
                            {% if "Physical Flyer" in date_market_values %}
                                <div class="setListColumn"> 
                                    <label><u>Physical Flyer</u></label>
                                    {{ form.marketing_list_physical_flyer(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>Physical Flyer</u></label>
                                    {{ form.marketing_list_physical_flyer(class_='booleanField') }}
                                </div>
                            {% endif %}
                            {% if "Electronic Flyer" in date_market_values %}
                                <div class="setListColumn">
                                    <label><u>Electronic Flyer</u></label>
                                    {{ form.marketing_list_electronic_flyer(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>Electronic Flyer</u></label>
                                    {{ form.marketing_list_electronic_flyer(class_='booleanField') }}
                                </div>
                            {% endif %}
                            {% if "Physical Business Card" in date_market_values %}
                                <div class="setListColumn">
                                    <label><u>Physical Business Card</u></label>
                                    {{ form.marketing_list_physical_business_card(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>Physical Business Card</u></label>
                                    {{ form.marketing_list_physical_business_card(class_='booleanField') }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="setListRow">
                            {% if "EPK" in date_market_values %}
                                <div class="setListColumn">
                                    <label><u>EPK</u></label>
                                    {{ form.marketing_list_epk(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>EPK</u></label>
                                    {{ form.marketing_list_epk(class_='booleanField') }}
                                </div>
                            {% endif %}
                            {% if "Chocolate" in date_market_values %}
                                <div class="setListColumn">
                                    <label><u>Chocolate</u></label>
                                    {{ form.marketing_list_chocolate(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>Chocolate</u></label>
                                    {{ form.marketing_list_chocolate(class_='booleanField') }}
                                </div>
                            {% endif %}
                            {% if "Video Clip" in date_market_values %}
                                <div class="setListColumn">
                                    <label><u>Video Clip</u></label>
                                    {{ form.marketing_list_video_clip(class_='booleanField', checked=True) }}
                                </div>
                            {% else %}
                                <div class="setListColumn">
                                    <label><u>Video Clip</u></label>
                                    {{ form.marketing_list_video_clip(class_='booleanField') }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}   
            </div>
            {{ form.submit(class_='submitButton') }} 
        </div> 
    </form>
</body>
</html>